@font-face {
    font-family: Norwester;
    src: url("../fonts/norwester/Norwester-Regular.woff") format("woff"), url("../fonts/norwester/Norwester-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Source Code Pro;
    src: url("../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Source Code Pro Light;
    src: url("../fonts/Source_Code_Pro/SourceCodePro-Light.ttf") format("truetype");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5){
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    background-color: #1b1b1b;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #24C6EA !important;
}

.leftMenuBar {
    background-color: #e5e5e5;
    width: 100px;
    height: 100vh;
    z-index: 1;
    position: fixed;
}

.left-title {
    font-family: Norwester;
    margin-top: 10%;
    margin-bottom: 100%;
    color: #1b1b1b;
    font-size: 30px;
}

.left-title:hover {
    color: #1b1b1b;
}

.left-link {
    padding: 20px;
    margin-top: 20px;
}

.rightMenuBar {
    width: 100px;
    height: 100vh;
    z-index: 1;
    position: fixed;
    right: 30px;
    top: 20%;
}

.active {
    color: #fff !important;
    text-decoration: underline !important;
}

.right-link {
    font-family: Source Code Pro;
    font-size: 20px;
    padding: 20px;
    padding-right: 30px;
    color: #c4c4c4;
    text-align: right;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.intro {
    padding-top: 100px;
    padding-bottom: 160px;
}

.dog-ear {
    width: 150px;
	height: 50px;    
	background:	linear-gradient(135deg, #333 0%, #333 90%, transparent 90%, transparent 100%);
    color: #e5e5e5;
    font-size: 16px;
    font-family: Source Code Pro;
}

.text-1 {
    color: #f2f2f2;
    font-family: Poppins;
}

.text-1-1 {
    font-size: 28px;
}

.text-1-2 {
    font-size: 24px;
}

.name {
    color: #fff;
}

.my-profile {
    height: 80%;
    width: 80%;
}

.text-2-1 {
    color: #f2f2f2;
    font-family: Source Code Pro Light;
    font-size: 16px;
    padding: 50px;
    text-align: center;
}

.text-2-2 {
    color: #f2f2f2;
    font-family: Source Code Pro;
    font-size: 18px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 50px;
}

.skills-board {
    padding: 50px;
    background-color: #303030;
    height: 400px;
}

.coding-2 {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
}

.design-2 {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
}

.skills-btn {
    width: 100%;
    height: 80%;
    background-color: #303030;
    color: #f2f2f2;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    border: 2px solid #c4c4c4;
}

.skills-btn:hover {
    box-shadow: inset 0 0 0 2px #f2f2f2;
}

.skills-btn:focus {
    box-shadow: inset 0 0 0 2px #f2f2f2;
}

.skills-btn:active {
    box-shadow: inset 0 0 0 2px #f2f2f2;
}

.skills-logo {
    height: 38px;
    width: 38px;
    padding-left: 10px;
    margin-left: 0;
}

.space {
    margin-left: 0;
}

.skills-logo-2 {
    height: 34px;
    width: 34px;
    padding: 2px;
}

.modal-body {
    display: flex !important;
}

.project-img {
	margin-bottom: 30px;
	padding-left: 15px;
    padding-right: 15px;
}

.scrollToTop {
	position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 99;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    display: block;
    opacity: 0;
    transform: translateY(100px);
    transition: all .4s ease;
}

.upBtn {
	height: 50px;
	width: 50px;
}

.showBtn {
	opacity: 1;
	transform: translateY(0);
}

footer {
    background-color: #303030;
    color: #f2f2f2;
}

.logo-title {
    font-family: Norwester;
    font-size: 24px;
    color: #f2f2f2;
    padding-left: 10px;
}

.navbar {
    background-color: #303030;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content-social {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.custom-nav-logo {
    margin: 10px;
    width: 32px;
    height: 32px;
    filter: invert(95%) sepia(1%) saturate(10%) hue-rotate(323deg) brightness(85%) contrast(88%);
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 22px;
    font-family: Source Code Pro;
    color: #c4c4c4;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media only screen and (min-width: 992px) {
    main {
        margin-left: 220px;
        margin-right: 220px;
    }
    .intro {
        padding-top: 160px;
    }
    .text-2-2 {
        padding: 100px;
        padding-top: 0;
        font-size: 20px;
    }
    .skills-logo {
        height: 44px;
        width: 44px;
        padding-left: 10px;
        margin-left: 20px;
    }
    .skills-logo-2 {
        height: 40px;
        width: 40px;
        padding: 0;
        padding-left: 10px;
    }
    .skills-btn {
        font-size: 20px;
    }
    .space {
        margin-left: 30px;
    }
}